body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(206, 206, 206); 
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
	padding: 0 1rem;
}

.row {
	width: 90%;
	margin: 2rem auto;
}