.RecipeCard {
	width: 31%;
	margin: 0 1%;
	box-sizing: border-box;
	float: left;
	height: 40rem ;
	background-color: white;
	box-shadow: 2px 3px #888888;
	margin-bottom: 2rem;
	text-align: left;
}

.RecipeCard__img {
	max-width: 100%;
}